@charset "utf-8";

* {box-sizing: border-box;}
body {margin: 0;}
ul {list-style: none; padding:0; margin:0;}
a {text-decoration: none; color:inherit;}


/** 메인 메뉴 **/
.gnb {width:200px; height:100%; position: fixed; background: #f5f5f5; padding:30px 20px; z-index: 999;}
.gnb .logo {width:100%; padding-bottom:20px; text-align: center;}
.gnb .logo img {width:100%;}
.gnb .userInter {display:table; width:100%;}
.gnb .userInter .login {width:100%; padding:10px 0; text-align: center; cursor: pointer; background: #eee;}
.gnb ul {margin:15px 0; padding: 0; font-size: 15px;}
.gnb ul li { padding:15px 0; cursor: pointer;font-weight: bold;}
.gnb ul li.gnb_li span {position: relative;}
.gnb ul li.gnb_li span:after, .gnb ul li.gnb_li span:before {content: ''; position: absolute; height: 1px; width: 5px; background: #333; left: 120%; top: 11px; display: block; transition: all .2s;}
.gnb ul li.gnb_li span:before {transform: rotate(45deg); margin-left: 5px;}
.gnb ul li.gnb_li span:after {transform: rotate(-45deg); margin-left: 8px;}
.gnb ul li.active span:before {transform: rotate(-45deg);}
.gnb ul li.active span:after {transform: rotate(45deg);}
.gnb ul li.gnb_li ul.snb {display: none; margin: 10px 0;}
.gnb ul .active ul {display: block !important; transition: all .5s;}
.gnb ul li.gnb_li ul.snb li {font-size: 15px; padding: 5px 0; font-weight: normal;}
.gnb ul li.gnb_li ul.snb li:hover {font-weight: bold;}
.gnb .contect_area {position: absolute; width: 140px; bottom: 10px; }
.gnb .contect_area p {font-size:0.9em; margin:10px 0; color:#484848;}
.gnb .contect_area .hp {font-size:1.3em; font-weight: bold; letter-spacing: -2px;}
.gnb .contect_area .time {margin-bottom: 0px; font-size: 0.95em;}
.gnb .contect_area .hd {margin-top:5px;}
.gnb .contect_area .contect_btn {border: 1px solid #959595; border-radius: 5px; padding: 5px; font-size: 0.8em; margin: 10px 0; text-align: center; cursor: pointer;}




/** 상단 메뉴 **/
header {padding: 10px 0 10px 240px; height:80px; border-bottom: 1px solid #ccc; min-width: 1090px;}
header .top_menu {width:100%; margin:15px auto; display:table;}
header .top_menu .hnb {display:table-cell; text-align: right; padding-right: 40px;}
header .top_menu .hnb > ul {display:unset;}
header .top_menu .hnb > ul .btn {display:table-cell; padding: 0 10px; line-height:40px; font-size:14px; position:relative;}
header .top_menu .hnb > ul .btn:hover .sub_hnb, 
header .top_menu .hnb > ul .btn .sub_hnb:hover {display:block;}
header .top_menu .hnb > ul .btn .sub_hnb {
	position:absolute; 
	display:none; 
	width: 80px; 
	top:35px; 
	left:0; 
	padding:10px; 
	text-align: left;
	border:1px solid #f5f5f5;
	background:#fff;
}
header .top_menu .hnb > ul > li .sub_hnb li {font-size:13px; line-height: 25px;}
header .top_menu .profile {display: none; width:150px;}
header .top_menu .search {display:table-cell; position:relative;}
header .top_menu .search input[type=search] {width:340px; height:40px; padding:10px 20px; border: 1px solid #c5c5c5; border-radius:40px;}
header .top_menu .search a input[type=image] {position:absolute; width:20px; top:12px; left:305px; transition: 0.5s;}
header .top_menu .search .close {display: none; position: absolute; top:11px; right:33px;}
header .top_menu .search .close img {width:20px;}


/** 컨텐츠 **/
.container {padding-left:240px; margin-top:40px;}
.container .banner {text-align: center; width:90%; margin:auto; height:200px; background:url('../img/banner/t_banner_1000x200.jpg') no-repeat center; background-size:contain; background-color:#e8e8e8}

@media (max-width:800px) {
	body {padding:0 10px;}
	.gnb {display: none;}
	header {padding-left: 0; min-width: auto;}
	header .top_menu .hnb {display: none;}
	.container {padding-left: 0;}
	.main_ex .ex li {width:47% !important; float:none; display: inline-block; padding:0; margin: 0 1%;}
	.container .banner {width:100%;}
	header .top_menu .profile {display: table-cell;}
	header .top_menu .search a input[type=image] {left:77%;}
	header .top_menu .search input[type=search] {position: absolute; display:none; width:160%; top:0; right: -200%; transition: 0.5s; padding-left: 55px; padding-right: 35px;}
}

/** 메인 체험 영역 **/
.main_ex {width: 100%; margin: 60px auto;}
.main_ex_title {padding-bottom:30px;}
.main_ex_title .t1 {font-size:23px; margin:0; font-weight:bold;}
.main_ex_title .t2 {font-size:15px; color:#a5a5a5; margin:10px 0 0 0 ;}
.main_ex .ex {}
.main_ex .ex li {float:left; width:24%; padding-right:1.3%;}
.main_ex .ex li:last-child {padding-right:0;}
.main_ex .ex .ex_thubmnail img {border-radius:10px;}
.main_ex .ex p {margin:5px 0;}
.main_ex .ex .ex_title {font-size:16px; font-weight: bold;}
.main_ex .ex .ex_service {font-size:14px; color:#6a6a6a;}
.main_ex .ex .ex_pe_prog {width:100%; height:3px; background:#eee;}
.main_ex .ex .ex_pe_prog .ex_prog_ing {background:#ea7205; height:3px;}
.main_ex .ex .ex_pe {text-align:right; font-size:14px; color:#555555; margin-top:10px;}
.main_ex .ex_more_btn {text-align:center;}
.main_ex .ex_more_btn button {width:100px; height:40px; line-height:40px;  border:1px solid #848484; border-bottom:0; background:#fff; margin-top:50px; color:#363636;}
.main_ex .ex_more_btn button span {position:relative; font-size:13px;}
.main_ex .ex_more_btn button span:after, .main_ex .ex_more_btn button span:before {content: ''; position: absolute; height: 1px; width: 5px; background: #363636; left: 100%; top: 9px; display: block;}
.main_ex .ex_more_btn button span:before {transform: rotate(45deg); margin-left: 5px;}
.main_ex .ex_more_btn button span:after {transform: rotate(-45deg); margin-left: 8px;}
.main_ex .ex_more_line {border:0; border-top:1px solid #848484; margin:0;}

.experience {width:95%; margin:30px 0;}
.experience .title {padding: 0 15px 30px 15px;}
.experience .title .t1 {font-size:23px; margin:0; font-weight:bold;}
.experience .title .t2 {font-size:15px; color:#a5a5a5; margin:10px 0 0 0;}
.experience .experience_table {width:100%; min-width: 1090px;}
.experience .experience_table li {padding:0 15px; display: inline-block; width:24%;}
.experience .experience_table li .thubm img {border-radius:10px;}
.experience .experience_table li .info {padding-top:10px;}
.experience .experience_table li .info p {margin:5px 0;}
.experience .experience_table li .kind {font-size:16px; font-weight:bold; color:#09b009;}
.experience .experience_table li .info .ex_title {font-size:16px; font-weight:bold;}
.experience .experience_table li .info .ex_service {font-size:14px; color:#6a6a6a;}
.experience .experience_table li .info .ex_preg {width:100%; height:3px; background:#eee;}
.experience .experience_table li .info .ex_preg .ex_preg_rhap {background:#ea7205; height:3px;}
.experience .experience_table li .info .ex_pe {text-align:right; font-size:14px; color:#555; margin-top:10px;}

.exper_title {width:100%;}
.exper_title .t1 {font-size:28px; font-weight: bold;}

.exper_filter {width:95%; border-bottom:1px solid #ccc; min-width:1090px; display:table;}
.exper_filter .category, .exper_filter .channel_sort {display: table-cell;}
.exper_filter .category ul li {display:inline-block; padding:10px; cursor:pointer;}
.exper_filter .category ul li:hover {border-bottom: 1px solid rgb(7, 9, 112);}
.exper_filter .category ul li.select {border-bottom: 1px solid rgb(7, 9, 112);}
.exper_filter .channel_sort {text-align: right;}
.exper_filter .channel_sort ul li {
	display:inline-block; 
	padding:5px 18px; 
	border:1px solid #e9e9e9; 
	border-radius: 15px;
	font-size: 14px;
	width:80px;
	text-align: center;
	cursor: pointer;
}
.exper_filter .channel_sort ul li.select {border-color:rgb(7, 9, 112);}
.exper_filter .channel_sort ul li.sort {width:120px;}
.exper_filter .channel_sort ul li.sort select {border:none;}

@media (max-width:800px) {
	.experience {width:100%;}
	.experience .experience_table {min-width: auto;}
	.experience .experience_table li {width:49%; display: inline-block; padding:15px;}
	.exper_filter {width:100%; border-bottom: 0; min-width: auto; display: block;}
	.exper_filter .category, .exper_filter .channel_sort {display: block;}
	.exper_filter .category .product_kind {white-space: nowrap; overflow-y: hidden; border-bottom:1px solid #ccc;}
	.exper_filter .channel_sort {padding:10px 0;}
	.exper_filter .channel_sort ul li {display: none;}
	.exper_filter .channel_sort ul li.sort {display: inline-block;}
}

/** 체험단 상세 **/
.exper_detail {width:100%; margin:auto; min-width: 1090px; position: relative;}
.exper_detail .exper_left, .ex_aply .exper_left {width:60%; min-width: 500px; padding:40px 0 40px 40px;}
.exper_detail .exper_info_top {width:100%; padding:20px 0;}
.exper_detail .exper_info_top .title {margin-bottom: 20px;}
.exper_detail .exper_info_top .title h3 {margin:5px 0 15px 0; font-size: 28px;}
.exper_detail .exper_info_top .title p {margin:0;}
.exper_detail .exper_info_top .tag,
.exper_detail .exper_info_top .tag ul,
.exper_detail .exper_info_top .tag .channel,
.exper_detail .exper_info_top .tag .info,
.exper_detail .exper_info_top .tag .point {display: inline;}
.exper_detail .exper_info_top .tag ul li, 
.exper_detail .exper_info_top .tag .point {display: none; border:1px solid #eee; font-size: 12px; padding: 5px;}
.exper_detail .exper_info_top .tag ul li.show {display:inline;}
.exper_detail .detail .img {overflow: hidden;}
.exper_detail .detail .img img {width:100%;}
.exper_detail .detail .img_more_btn {cursor: pointer;}
.exper_detail .detail .img_more_btn {font-size: 14px; text-align: center; background:#f5f5f5; padding:10px 0;}
.exper_detail .detail .campain_info {padding: 40px 0;}
.exper_detail .detail .campain_info .info {width:100%; display: table; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #eee;}
.exper_detail .detail .campain_info .info:first-child {padding-top:30px; border-top:1px solid #eee;}
.exper_detail .detail .campain_info .info .t01 {font-size:16px; font-weight: 500; display:table-cell; width:20%;}
.exper_detail .detail .campain_info .info .t02 {display:table-cell; width:80%; padding:0 10px; line-height: 1.5;}
.exper_detail .exper_right, .ex_aply .exper_right {
	width:303px; 
	position: absolute; 
	right:40px; 
	top:0; 
	bottom: 0; 
	padding-left: 40px; 
	border-left: 1px solid #ccc;
}
.exper_detail .exper_right .info_area, .ex_aply .exper_right .info_area {width:250px; padding-top:40px;}
.exper_detail .exper_right .info_area.fix {position: fixed; padding-top: 0; top:0;}
.exper_detail .exper_right .info_area ul {padding:20px 0; border-bottom: 1px solid #eee;}
.exper_detail .exper_right .info_area ul li {font-size: 16px; padding:10px 0;}
.exper_detail .exper_right .info_area ul li div {display: table-cell; width: 80px;}
.exper_detail .exper_right .info_area ul li .content {width:150px;}
.exper_detail .exper_right .info_area ul li.ex_apply_date {font-weight: bold;}
.exper_detail .exper_right .info_area .scrollBtn {padding:20px 0; cursor: pointer; border-bottom: 1px solid #eee; font-size: 16px;}
.exper_detail .exper_right .info_area .scrollBtn:hover {font-weight: bold;}
.exper_detail .exper_right .info_area .apply_btn {
	font-size:16px; 
	margin:15px 0; 
	padding:10px; 
	background: #ED3739; 
	color:white;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
}
.exper_detail .exper_apply_btn {
	display: none; 
	width: 100%; 
	background: #ED3739; 
	padding:15px; 
	font-size: 14px; 
	position: fixed;
	bottom: 0;
	left: 0;
	color: white;
	text-align: center;
}

@media (max-width:800px) {
	.exper_detail {min-width: auto; }
	.exper_detail .exper_info_top .title h3 {font-size: 20px; margin-bottom: 10px;}
	.exper_detail .exper_left {width:100%; min-width: auto; padding:0;}
	.exper_detail .detail .campain_info .info .t01 {width:25%;}
	.exper_detail .detail .campain_info .info .t02 {width:75%;}
	.exper_detail .exper_apply_btn {display: block;}
	.exper_detail .exper_right {display: none;}
}

.ex_aply {position: relative; width: 100%; min-width: 1090px; margin:auto;}
.ex_aply .exper_left .aply_ul .aply_li {
	padding:30px 0; 
	border-bottom: 1px solid #eee; 
	display: table; 
	width: 100%; 
	min-width: 500px;
}
.ex_aply .exper_left .aply_ul .aply_li .aply_tit {display: table-cell; width: 20%; min-width: 100px;}
.ex_aply .exper_left .aply_ul .aply_li .aply_cont {display: table-cell; width: 80%; min-width: 400px;}
.ex_aply .exper_left .aply_ul .aply_li .aply_cont .aply_inp {
	padding:10px; 
	border:1px solid #eee; 
	margin-bottom: 20px; 
	border-radius: 10px; 
	width:70%;
}
.ex_aply .exper_left .aply_ul .aply_li .aply_cont .aply_inp input {border:none; width: 100%;}
.ex_aply .exper_left .aply_ul .aply_li .aply_cont .aply_but button {
	width:70%; 
	padding: 10px;
	font-size: 14px;
	border:1px solid #ccc;
	border-radius: 10px;
	background: white;
}
.ex_aply .exper_left .aply_ul .aply_li .aply_cont .channel_add {position: relative;}
.ex_aply .exper_left .aply_ul .aply_li .aply_cont .channel_add input {
	padding:10px; 
	width:100%; 
	border: 1px solid #ccc; 
	border-radius: 10px;
}
.ex_aply .exper_left .aply_ul .aply_li .aply_cont .channel_add button {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: transparent;
	width:70px;
	padding: 10px;
	border-left: 1px solid #ccc;
}
.ex_aply .exper_right .info_area {width:260px;}
.ex_aply .exper_right .info_area ul li {display: table; width: 100%; padding: 10px 0;}
.ex_aply .exper_right .info_area ul li .title {display: table-cell; width: 30%;}
.ex_aply .exper_right .info_area ul li .content {display: table-cell; width: 70%;}
.ex_aply .exper_right .info_area .agr {width: 100%; padding:10px 0; font-size: 12px;}
.ex_aply .exper_right .info_area .agr .ag_zoom {font-size: 10px; color:rgb(158, 158, 158); text-decoration: underline; cursor: pointer;}
.ex_aply .exper_right .info_area .apply_btn {    
	padding: 10px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    background: #ED3739;
    color: white;
    border-radius: 10px;
}

@media (max-width:800px) {
	.ex_aply {min-width: auto;}
	.ex_aply .exper_left {padding:40px 0; min-width: auto; width: 100%;}
	.ex_aply .exper_left .aply_ul .aply_li {width: 100%; min-width: auto; padding: 20px 0;}
	.ex_aply .exper_left .aply_ul .aply_li .aply_tit {width:100%; min-width: auto; display: block;}
	.ex_aply .exper_left .aply_ul .aply_li .aply_cont {width:100%; min-width: auto; display: block; padding:15px 0;}
	.ex_aply .exper_left .aply_ul .aply_li .aply_cont .aply_inp {width:100%;}
	.ex_aply .exper_left .aply_ul .aply_li .aply_cont .aply_but button {width: 100%;}
	.ex_aply .exper_right {position: relative; width: 100%; right:auto; padding-left: 0; border-left: 0;}
	.ex_aply .exper_right .info_area {width: 100%;}
	.ex_aply .exper_right .info_area .thubm {display: none;}
}

/** 하단 **/
footer {margin:50px 0 100px 0; float:left;}
footer .container ul {width:100%; margin:auto;}
footer h4 {text-decoration: underline;}
footer .company_info {width:44%; float:left;}
footer .company_info img {float:left; padding:10px;}
footer .company_info .com_info {float:left; width:70%; padding: 5px 15px; font-size:13px;}
footer .contect {width:33%; float:left; padding-right:1%;}
footer .contect .phone {font-size:25px; padding:10px 0;}
footer .contect p {font-size:13px; margin:5px 0;}
footer .contect_btn_area {width:22%; float:left;}
footer .contect_btn_area .footer_btn {width:70%; border:1px solid #000; padding:10px;}
footer .contect_btn_area .footer_btn:last-child { margin-top:10px; }

.m_gbn {display: none; background: #fff; border-top: 1px solid #ccc; position: fixed; bottom: 0; left: 0; width: 100%;}
.m_gbn ul {display: table; width: 100%; text-align: center;}
.m_gbn ul li {display: inline-block; width: 25%; padding:15px 0; font-size: 12px;}

@media (max-width:800px) {
	footer .company_info {width:100%}
	footer .contect {width:50%;}
	footer .contect_btn_area {width:50%;}
	.m_gbn {display: block;}
	
}